<footer>
{% if page.url contains "about" %}
<a href="{{ site.url }}">Back</a>
<a href="https://github.com/monero-ecosystem/monero-translations/tree/master/moneromovie/workgroup-edition">Transcripts</a>
<a href="https://github.com/MoneroSpace/monero-means-money">Source</a>
{% else %}
<a href="{{ site.url }}about">About</a>
<a href="https://github.com/monero-ecosystem/monero-translations/tree/master/moneromovie/workgroup-edition">Transcripts</a>
<a href="https://github.com/MoneroSpace/monero-means-money">Source</a>
{% endif %}
<p>
</footer>
